* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343a40;
  height: 14vh;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  width: 90%;
  height: 60%;
  justify-content: center;
  align-items: center;
}

.cell {
  display: flex;
  align-items: center;
}

.logo {
  width: 7vw;
  height: auto;
}

.search {
  display: flex;
  flex-direction: row;
  width: 95%;
}

.searchBar {
  height: 5.5vh;
  width: 530px;
  border-color: transparent;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.searchBtn {
  width: 70px;
  color: white;
  background-color: #eb6f4c;
  border-color: transparent;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.unitBtn {
  background-color: white;
  width: 100%;
  height: 5.5vh;
  border-radius: 5px;
}

.weatherBox {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 55vh;
}

.ContainerOne {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current {
  display: grid;
  grid-template-rows: 1.5fr 1fr 3fr 1fr;
  height: 80%;
  width: 70%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  font-size: 2.5em;
}

.weatherDesc {
  font-size: 1.5em;
}

.temp {
  font-size: 3.5em;
}

.highLow {
  font-size: 1em;
}

.ContainerTwo {
  display: grid;
  grid-template-rows: 4fr 1fr;
}

.boxTwo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twentyFour {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  text-align: center;
  height: 70%;
  max-width: 70vw;
  border-top: 1px solid #dee2e6;
}

.boxThree {
  display: flex;
  justify-content: center;
}

.description {
  text-align: center;
}
